$bg-color: rgba(0, 0, 0, 0.98);
$content-bg-color: rgb(23, 23, 23);
$menu-hover-bg-color: rgb(0, 59, 74);
$text-color: rgb(255, 255, 255);
$link-color: rgb(213, 82, 41);

$icon-font-path: "../fonts/";
